@import "tailwindcss";
@import "@nuxt/ui";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

::placeholder {
    color: var(--support-text-color);
    font-size: var(--support-text);
}

@theme {
    --container-8xl: 90rem;
}
html {
    scroll-behavior: smooth;
}

body {
    background-color: #171918;
}

:root {
    --ui-container: var(--container-8xl);
    --card: oklch(1 0 0);
    --card-foreground: oklch(0.129 0.042 264.695);
    --popover: oklch(1 0 0);
    --popover-foreground: oklch(0.129 0.042 264.695);
    --primary: oklch(0.984 0.003 247.858);
    --primary-foreground: oklch(0.984 0.003 247.858);
    --secondary: oklch(0.968 0.007 247.896);
    --secondary-foreground: oklch(0.208 0.042 265.755);
    --muted: oklch(0.968 0.007 247.896);
    --muted-foreground: oklch(0.554 0.046 257.417);
    --accent: oklch(0.968 0.007 247.896);
    --accent-foreground: oklch(0.208 0.042 265.755);
    --destructive: oklch(0.577 0.245 27.325);
    --destructive-foreground: oklch(0.577 0.245 27.325);
    --border: oklch(0.929 0.013 255.508);
    --input: oklch(0.929 0.013 255.508);
    --ring: oklch(0.704 0.04 256.788);
    --chart-1: oklch(0.646 0.222 41.116);
    --chart-2: oklch(0.6 0.118 184.704);
    --chart-3: oklch(0.398 0.07 227.392);
    --chart-4: oklch(0.828 0.189 84.429);
    --chart-5: oklch(0.769 0.188 70.08);
    --radius: 0.625rem;
    --sidebar: oklch(0.984 0.003 247.858);
    --sidebar-foreground: oklch(0.129 0.042 264.695);
    --sidebar-primary: oklch(0.208 0.042 265.755);
    --sidebar-primary-foreground: oklch(0.984 0.003 247.858);
    --sidebar-accent: oklch(0.968 0.007 247.896);
    --sidebar-accent-foreground: oklch(0.208 0.042 265.755);
    --sidebar-border: oklch(0.929 0.013 255.508);
    --sidebar-ring: oklch(0.704 0.04 256.788);
    --background: oklch(0.2108 0.0036 164.68);
    --foreground: oklch(1 0 0);
}

@theme {
    --color-light-gray: rgba(60, 60, 60, 1);
    --color-dark-gray: rgba(47, 47, 47, 1);
    --h0: 10vw;
    --h1: 6.7vw;
    --h2: 5.6vw;
    --h3: 5.05vw;
    --h4: 4.3vw;
    --button-text1: 0.95vw;
    --button-text2: 3.9vw;
    --edit-text1: 18px;
    --support-text: 3.9vw;
    --low-priorety-text: 14px;
    --reder: #ff3f3f;
    --support-text-color: #b8b8b8;
    --main-blue: #008fea;
    --disable-button-color: rgba(47, 54, 58, 1);
    --disable-text-color: #737373;
    --line-gray: rgba(97, 97, 97, 1);
}
@theme inline {
    --color-background: var(--background);
    --color-foreground: var(--foreground);
    --color-card: var(--card);
    --color-card-foreground: var(--card-foreground);
    --color-popover: var(--popover);
    --color-popover-foreground: var(--popover-foreground);
    --color-primary: var(--primary);
    --color-primary-foreground: var(--primary-foreground);
    --color-secondary: var(--secondary);
    --color-secondary-foreground: var(--secondary-foreground);
    --color-muted: var(--muted);
    --color-muted-foreground: var(--muted-foreground);
    --color-accent: var(--accent);
    --color-accent-foreground: var(--accent-foreground);
    --color-destructive: var(--destructive);
    --color-destructive-foreground: var(--destructive-foreground);
    --color-border: var(--border);
    --color-input: var(--input);
    --color-ring: var(--ring);
    --color-chart-1: var(--chart-1);
    --color-chart-2: var(--chart-2);
    --color-chart-3: var(--chart-3);
    --color-chart-4: var(--chart-4);
    --color-chart-5: var(--chart-5);
    --radius-sm: calc(var(--radius) - 4px);
    --radius-md: calc(var(--radius) - 2px);
    --radius-lg: var(--radius);
    --radius-xl: calc(var(--radius) + 4px);
    --color-sidebar: var(--sidebar);
    --color-sidebar-foreground: var(--sidebar-foreground);
    --color-sidebar-primary: var(--sidebar-primary);
    --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
    --color-sidebar-accent: var(--sidebar-accent);
    --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
    --color-sidebar-border: var(--sidebar-border);
    --color-sidebar-ring: var(--sidebar-ring);
}

@layer base {
    * {
        @apply border-border outline-ring/50;
    }

    body {
        @apply bg-background text-foreground;
    }
}

@layer utilities {
    .text-h0 {
        font-size: var(--h0);
    }

    .bg-card-gradient {
        background: linear-gradient(162deg, var(--color-light-gray) 0%);
    }

    .bg-balance {
        background:
            linear-gradient(238deg, #3c3c3c 10.68%, #2f2f2f 70.89%),
            linear-gradient(0deg, #282828, #282828);
    }

    .text-h2 {
        font-size: var(--h2);
    }

    .text-h1 {
        font-size: var(--h1);
    }

    .text-h3 {
        font-size: var(--h3);
    }

    .text-button-text1 {
        font-size: var(--button-text1);
    }

    .text-edit-text1 {
        font-size: var(--edit-text1);
    }

    /*.text-support-text {*/
    /*  font-size: var(--support-text);*/
    /*}*/
    .text-low-priority-text {
        font-size: var(--low-priorety-text);
    }

    .main-blue {
        background-color: #008fea;
    }

    .white {
        background-color: #ffffff;
    }

    .padding-container {
        padding: var(--tg-safe-area-inset-top, env(safe-area-inset-top, 0px))
            var(--tg-safe-area-inset-right, env(safe-area-inset-right, 0px))
            var(--tg-safe-area-inset-bottom, env(safe-area-inset-bottom, 0px))
            var(--tg-safe-area-inset-left, env(safe-area-inset-left, 0px));
        margin-top: 40px;
    }

    .disable-text {
        background-color: #737373;
    }

    .line-gray {
        background-color: #616161 !important;
    }

    .background-black {
        background-color: #171918;
    }

    .green {
        background-color: #64cf13;
    }

    .disable-button {
        background-color: #2f363a;
    }
}

body {
    @apply font-sans;
    min-height: 100vh;
}

#__nuxt {
    min-height: 100vh;
}

/* Если нужно задать Inter везде, независимо от reset, можешь добавить: */
* {
    font-family: "Inter", ui-sans-serif, system-ui, sans-serif;
    touch-action: manipulation;
    overscroll-behavior: none;
    user-select: none;
}
