:root {
    --h0: 10vw;
    --h1: 6.7vw;
    --h2: 24px;
    --h3: 1.05vw;
    --button-text1: 0.95vw;
    --button-text3: 20px;
    --edit-text1: 18px;
    --support-text: 3.9vw;
    --low-priorety-text: 14px;
    --reder: #ff3f3f;
}

body{
    display: flex;
    justify-content: center;
}

#content_app{
    width: 90vw;
    margin-top: 6vw;
}

@media (min-width: 415px) {

}


@import "tailwindcss/preflight"; 
@import "tailwindcss/utilities";